langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
chromadb==0.5.5
openai==1.40.0
fastapi==0.112.2
uvicorn==0.30.6
streamlit==1.37.1
python-dotenv==1.0.1
pypdf==4.3.1
langsmith==0.1.98
tiktoken==0.7.0
pydantic==2.8.2
requests==2.32.3